sonnar/tv/*
downloads/*
radarr/movies/*
nginx/keys/*
nginx/log/*
nginx/php/*
nginx/www/*
sonnar/data/MediaCover/*
sonnar/data/logs/*
radarr/data/MediaCover/*
radarr/data/logs/*
jellyfin/*
radarr/data/log*
radarr/data/nzb*
sonnar/data/log*
sonnar/data/nzb*
qbittorrent/*
!radarr/data/nzbdrone.db
!sonnar/data/nzbdrone.db
logs.db
Lidarr.txt
**/asp/*.xml
**/.mono/**/*.xml
*.sample
*.bak
*.db-shm
*.db-wal
*.zip
*.pid
**/log.txt
*.migrations
*.pem
**/DataProtection/**.xml
prowlarr/*